@font-face {
  font-family: "Lab Grotesque";
  font-weight: 500;
  src: local("Lab Grotesque"),
    url(../assets/fonts/LabGrotesque-Medium/LabGrotesque-Medium.eot)
      format("eot");
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 500;
  src: local("Lab Grotesque"),
    url(../assets/fonts/LabGrotesque-Medium/LabGrotesque-Medium.ttf)
      format("ttf");
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 500;
  src: local("Lab Grotesque"),
    url(../assets/fonts/LabGrotesque-Medium/LabGrotesque-Medium.woff)
      format("woff");
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 500;
  src: local("Lab Grotesque"),
    url(../assets/fonts/LabGrotesque-Medium/LabGrotesque-Medium.woff2)
      format("woff2");
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 300;
  src: local("Lab Grotesque"),
    url(../assets/fonts/LabGrotesque-Regular/LabGrotesque-Regular.eot)
      format("eot");
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 300;
  src: local("Lab Grotesque"),
    url(../assets/fonts/LabGrotesque-Regular/LabGrotesque-Regular.ttf)
      format("ttf");
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 300;
  src: local("Lab Grotesque"),
    url(../assets/fonts/LabGrotesque-Regular/LabGrotesque-Regular.woff)
      format("woff");
}

@font-face {
  font-family: "Lab Grotesque";
  font-weight: 300;
  src: local("Lab Grotesque"),
    url(../assets/fonts/LabGrotesque-Regular/LabGrotesque-Regular.woff2)
      format("woff2");
}
