$c-white: #fff;
$c-black: #000;
$c-red: #ea0029;
$c-orange: #f53a31;
$c-dark-red: #dc3131;
$c-light-red: #ff5e56;
$c-lightest-grey: #eef0f2;
$c-light-grey: #dfe3e6;
$c-dark-grey: #808080;
$c-grey-disabled: #bec5cc;

$screen-tablet: 768px;
$screen-desktop: 1024px;

$f-lab-grotesque: "Lab Grotesque";
