@import "../../../styles/variables.scss";

.MyRadio {
  position: relative;
  &__input {
    position: absolute;
    visibility: hidden;
    &:checked {
      & + label {
        color: $c-white;
        background: linear-gradient(
            255.35deg,
            $c-dark-red 0.83%,
            rgba(255, 79, 79, 0) 108.93%
          ),
          $c-light-red;
      }
    }
  }
  &__label {
    display: block;
    background: $c-lightest-grey;
    border-radius: 50px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    cursor: pointer;
    padding: 6px 12px;
    transition: background 0.3s;
    &:hover {
      background: $c-light-grey;
    }
  }
}
